@charset "utf-8";

@font-face {
  font-family: Origicide;
  src: url(ag_origicide.woff) format("woff"),
    url(ag_origicide.ttf) format("truetype");
}

/*
   New Perspectives on HTML5, CSS3, and JavaScript 6th Edition
   Tutorial 14
   Review Assignment

   Poker Squares Layout Style Sheet

   Filename: ag_styles.css

   Origicide Font provided by Koczman Balint (Cpr.Sparhelt)
   This license can also be found at this permalink: https://www.fontsquirrel.com/license/Origicide
   Free to use personal and commercial works to. But you can't sell them directly.
*/

/* HTML and Body Styles */

html {
  background: linear-gradient(
    to right,
    rgb(0, 53, 0) 50%,
    rgb(70, 136, 89) 50%
  );
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

body {
  width: 1200px;
  margin: 0px auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background: url(ag_back2.png) repeat-y top left, rgb(70, 136, 89);
}

/* Header Styles */

body > header {
  width: 100%;
  position: relative;
  color: rgb(51, 51, 51);
  background: linear-gradient(
    to right,
    rgba(105, 132, 105, 0) 0%,
    rgba(105, 132, 105, 1) 12%,
    rgba(105, 132, 105, 1) 80%,
    rgba(105, 132, 105, 0)
  );
}

body > header > img {
  width: 100%;
  display: block;
  margin: 20px 0px 15px 25px;
}

body > header > div#loginDIV {
  position: absolute;
  top: 12px;
  right: 5px;
}

body > header > div#loginDIV label,
body > header > div#loginDIV input {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
}

body > header > div#loginDIV input {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Middle Navigation Styles */

nav#middle ul {
  margin-top: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(0, 88, 0, 0) 0%,
    rgba(0, 88, 0, 1) 12%,
    rgba(0, 88, 0, 1) 80%,
    rgba(0, 88, 0, 0)
  );
  height: 40px;
}

nav#middle ul li {
  -webkit-flex: 0 1 100px;
  flex: 0 1 100px;
  margin: 5px;
}

nav#middle ul li a {
  color: rgb(255, 255, 199);
  display: block;
  font-size: 1em;
  text-align: center;
  padding: 50% 0%;
}

nav#middle ul li a:hover,
nav#middle ul li a:active {
  color: rgb(255, 255, 3);
  text-shadow: 0px 0px 2px black, 0px 0px 8px black;
}

/* Left Navigation Styles */

nav#left {
  -webkit-flex: 0 0 339px;
  flex: 0 0 339px;
  background: url(ag_back1.png) no-repeat top left, url(ag_back2.png) repeat-y;
  padding-top: 270px;
  padding-left: 10px;
  padding-bottom: 30px;
}

nav#left h1 {
  color: rgba(204, 187, 69, 1);
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin: 15px 0px;
}

nav#left ul li {
  line-height: 1.5em;
  margin: 0px 0px 0px 8px;
}

nav#left ul li.newgroup {
  margin-top: 25px;
}

nav#left ul li a {
  color: rgb(211, 211, 211);
}

nav#left ul li a:hover {
  text-decoration: underline;
}

/* Poker Table Styles */

section#pokerTable {
  -webkit-flex: 1 1 100px;
  flex: 1 1 100px;
  padding-top: 70px;
  margin-left: -170px;
}

section#pokerTable h1 {
  padding-bottom: 70px;
  text-align: center;
  font-size: 8.5em;
  font-family: Origicide, Impact, Haettenschweiler, "Franklin Gothic Bold",
    "Arial Black", "sans-serif";
  color: rgb(0, 88, 0);
  letter-spacing: 0.01em;
  margin: 10px 0px 0px;
  font-weight: normal;
  font-variant: small-caps;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: rgb(0, 0, 0) 2px 2px 0px, rgb(51, 51, 51) 0px 0px 10px;
}

div#pokerBoard {
}

div#pokerBoard img#newCard {
  display: block;
  margin-left: 280px;
  margin-top: 10px;
  width: 106px;
  height: 154px;
  cursor: pointer;
  box-shadow: rgba(51, 51, 51, 0.5) 0px 0px 20px;
  float: left;
  clear: left;
}

div#pokerBoard input#gameScore {
  display: block;
  margin-left: 280px;
  margin-top: 20px;
  text-align: center;
  width: 100px;
  height: 100px;
  float: left;
  clear: left;
  background: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 4em;
  color: rgba(255, 255, 255, 0.5);
  border: 3px inset rgba(211, 255, 211, 0.5);
  text-shadow: rgb(0, 0, 0) 1px 1px 0px, rgb(51, 51, 51) 3px 3px 8px;
}

div#pokerBoard label#gameResult {
  display: block;
  margin-left: 255px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 0px;
  line-height: 1.2em;
  text-align: center;
  width: 150px;
  height: 20px;
  float: left;
  clear: left;
  font-size: 2em;
  color: rgba(207, 202, 65, 1);
  text-shadow: rgb(51, 51, 51) 0px 0px 5px;
}

div#pokerBoard input#startButton {
  display: block;
  width: 160px;
  height: 60px;
  margin: 0px auto;
  font-size: 4em;
  color: rgba(255, 255, 155, 0.5);
  border: none;
  background: transparent;
  border: none;
  text-shadow: rgb(0, 0, 0) 1px 1px 0px, rgb(51, 51, 51) 3px 3px 8px;
  cursor: pointer;
}

div#pokerBoard input#startButton:hover {
  text-shadow: rgb(0, 0, 0) 1px 1px 0px, rgb(255, 255, 255) 3px 3px 8px;
}

table#grid td {
  box-shadow: inset rgb(51, 51, 51) 0px 0px 35px;
  width: 81px;
  height: 106px;
  cursor: pointer;
}

table#grid td:hover {
  background-color: rgba(255, 255, 101, 0.4);
}
table#grid td img {
  display: block;
  width: 71px;
  height: 96;
  margin: 5px;
}

table#grid th.rowsum {
  font-size: 2.3em;
  width: 60px;
  vertical-align: middle;
  font-weight: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: rgb(0, 0, 0) 1px 1px 0px, rgb(51, 51, 51) 3px 3px 8px;
}

table#grid th.colsum {
  font-size: 2.3em;
  height: 60px;
  vertical-align: middle;
  font-weight: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: rgb(0, 0, 0) 1px 1px 0px, rgb(51, 51, 51) 3px 3px 8px;
}

p#instructions {
  margin: 10px auto 5px;
  font-size: 1.4em;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
  width: 700px;
}

p#instructions strong {
  color: rgba(255, 255, 101, 0.8);
  font-weight: normal;
}

#oddsTable {
  margin-top: 20px;
  margin-left: 100px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgb(64, 76, 64);
  border-collapse: collapse;
  font-size: 1.2em;
  float: left;
  clear: left;
}

#oddsTable th {
  background-color: rgb(64, 76, 64);
  text-align: center;
  font-weight: normal;
  color: yellow;
  padding: 4px 10px;
  border-right: 1px solid yellow;
  vertical-align: top;
}
#oddsTable td {
  border: 1px solid rgb(64, 76, 64);
  text-align: right;
  padding: 2px 12px;
  vertical-align: top;
}
#oddsTable .firstCol {
  width: 200px;
}
#oddsTable .secondCol {
  background-color: rgb(255, 255, 192);
  width: 80px;
}

/* Footer Styles */

footer {
  width: 100%;
  margin-top: 20px;
}

footer p {
  color: rgb(211, 211, 211);
  font-size: 0.9em;
  text-align: center;
  background-color: transparent;
  margin: 0px;
  padding: 20px 0px;
  border-top: 4px double rgba(255, 255, 255, 0.4);
}
